NET clk   LOC = "P26";
NET sw4   LOC = "Y16";
NET left  LOC = "J17";
NET up    LOC = "J15";
NET down  LOC = "J13";
NET right LOC = "J10";
NET hsync LOC = "K26";
NET vsync LOC = "K25";
NET r<0>  LOC = "L20";
NET r<1>  LOC = "K20";
NET r<2>  LOC = "F25";
NET r<3>  LOC = "F24";
NET g<0>  LOC = "M19";
NET g<1>  LOC = "M18";
NET g<2>  LOC = "J23";
NET g<3>  LOC = "J22";
NET b<0>  LOC = "L22";
NET b<1>  LOC = "K21";
NET b<2>  LOC = "G23";
NET b<3>  LOC = "G24";
NET led<7> LOC = "D25";
NET led<6> LOC = "D24";
NET led<5> LOC = "G21";
NET led<4> LOC = "H20";
NET led<3> LOC = "K22";
NET led<2> LOC = "N19";
NET led<1> LOC = "P25";
NET led<0> LOC = "P18";